.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* Show it is fixed to the top */
body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

/* Content <main> */
.isi_content {
	max-width: max-content;
}

/* Margin Keterangan Produk */
p {
	margin-top: -10px;
}

/* Efek Hover */
.mr_produk:hover {
	box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.75);
	transform: scale(1);
}

/* Efek Hover */
.mr_login_register:hover {
	box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
	transform: scale(1);
}

/* Color gradient navbar */
.color_navbar {
	background-image: linear-gradient(135deg, #FDD819 10%, #E87205 100%);
}

/* Color gradient header */
.color_header {
	color: white;
	background-image: linear-gradient(to left bottom, #fdd819, #fbbf00, #f7a500, #f18c00, #e87205);
}

/* Border header */
.border_header {
	border-color: #f9b100 !important
}

/* Shadow Card */
.card_shadow {
	box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 15px 27px -10px rgba(0, 0, 0, 0.75);
}

/* Style image produk */
.image_product {
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle_product {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 30%;
	left: 55%;
	right: -51%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.container_product:hover .image_product {
	opacity: 0.3;
}

.container_product:hover .middle_product {
	opacity: 1;
}

.desc_product {
	background-image: linear-gradient(to right bottom, #fa742b, #fe8c25, #ffa222, #ffb926, #fccf31);
	color: white;
	font-size: 16px;
	padding: 10px 10px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.text_product {
	margin-right: 0.15rem;
	margin-left: -0.9rem;
}

.title_product {
	background-image: linear-gradient(to right bottom, #fa742b, #fe8c25, #ffa222, #ffb926, #fccf31);
	color: white;
	font-size: 16px;
	padding: 10px 10px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* tooltips */
.tooltips {
	position: relative;
}

.tooltips h3 {
	margin: 12px 0;
}

.tooltips .top {
	min-width: 200px;
	max-width: 400px;
	top: -20px;
	left: 25%;
	transform: translate(-30%, -100%);
	padding: 10px 20px;
	color: #ffffff;
	background-image: linear-gradient(to left top, #2cf9e7, #00e5f9, #00ceff, #00b4ff, #0396ff);
	font-weight: normal;
	font-size: 14px;
	border-radius: 8px;
	position: absolute;
	z-index: 99999999;
	box-sizing: border-box;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	display: none;
	font-weight: bold;
}

.tooltips:hover .top {
	display: block;
}

.tooltips .top i {
	position: absolute;
	top: 100%;
	left: 30%;
	margin-left: -15px;
	width: 30px;
	height: 15px;
	overflow: hidden;
}

.tooltips .top i::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #00ceff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* garis bawah produk */
.hr_product {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* css image profil = foto profil*/
.img_profil {
	border: 1px solid rgb(190, 44, 44);
	border-radius: 4px;
	padding: 5px;
	width: 80%;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Color gradient header User Profile*/
.color_header_profile {
	color: white;
	border-radius: 40px;
	padding: 7px;
	background-image: linear-gradient(to left bottom, #fdd819, #fbbf00, #f7a500, #f18c00, #e87205);
}
